<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="Server_name" value="WIN7-PC\SQLEXPRESS"/>
    <add key="Database_name" value="CardProcessing_HTTT_HNT"/>
    <add key="Dir_path" value="C:\Users\Win7\Desktop\File import"/>
    <add key="File_path" value="D:\bai tap\Cac Mon cua Lien thong\Nam II\HK II\Do an\He thong thong tin hien dai\Source\Source\SSIS\SSIS_Package_CardProcessing\SSIS_Package_CardProcessing\Import.dtsx"/>
  </appSettings>
</configuration>